.header_admin{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #283257;
    z-index: 1000;
}

.header_admin ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:3px 0;
}

.header_admin_logo{
    width:200px;
    height:55px;
    margin-left:30px;
    cursor:pointer;
}
.header_admin_logo img{
    width:100%;
    height:100%;
    
}
.header_admin_title_admin{
    position: relative;
    left:150px;
    top:-18px;
}
.header_admin_title_admin span{
    font-size: 15px;
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.header_admin_action{
    display: flex;
    align-items: center;
    width:100%;
    height:40px;
    margin-right:50px;
}

.header_admin_nav{
    display: flex;
    align-items: center;
    margin-right:50px;
    height:100%;
}
.header_admin_nav img{
    width:40px;
    height:100%;
    margin-right:10px;
    border-radius: 3px;
}
.header_admin_nav span{
    font-size: 16px;
    font-weight: bold;
    color: #dcd5d5;
    margin-right:10px;
}

.header_admin_exit button{
    background-color: #c81e1e;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.detail_user_white{
    background-color: #f1f1f1 !important;
    border: 2px solid #333 !important;
}
.detail_user_white i{
    color: #333 !important;
}