.container_admin_manage_book {
    padding: 20px;
    min-height: 100vh;
}

.container_admin_manage_book_body {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container_admin_manage_book_body_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 10px solid #3b527a;
    padding-bottom: 10px;
}

.container_admin_manage_book_body_title_paga span {
    font-size: 24px;
    font-weight: bold;
    color: #f3ebeb;
}

.container_admin_manage_book_body_title_search input {
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 14px;
}

.container_admin_manage_book_body_title_search button {
    background-color: #2563eb;
    color: white;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border: none;
}

.container_admin_manage_book_body_title_search button:hover {
    background-color: #1e3a8a;
}

.container_admin_manage_book_body_table {
    overflow-x: auto;
}

.container_admin_manage_book_body_table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9fafb;
}

.container_admin_manage_book_body_table th, .container_admin_manage_book_body_table td {
    padding: 12px 15px;
    text-align: left;
}

.container_admin_manage_book_body_table th {
    background-color:#1f97ee;
    color: white;
    font-weight: bold;
}

.container_admin_manage_book_body_table tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.container_admin_manage_book_body_table tbody tr:hover {
    background-color: #3174b7;
}

.container_admin_manage_book_body_table td {
    border-bottom: 1px solid #e5e7eb;
    color: #374151;
}

.container_admin_manage_book_body_table td img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #d1d5db;
}

.container_admin_manage_book_body_table td button {
    background-color: #e42b2b; /* Delete button color */
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.container_admin_manage_book_body_table td button:hover {
    background-color: #336bee;
}

.container_admin_manage_book_body_table td button i {
    margin-right: 5px;
}

.container_admin_manage_book_body_table td button.restore {
    background-color: #10b981; /* Restore button color */
}

.container_admin_manage_book_body_table td button.restore:hover {
    background-color: #059669;
}
